<% layout('/layouts/boilerplate')-%>
<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <br><br>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit your listing</h2>
        <input type="text" name="listing[title]" value="<%=listing.title%>"><br><br>
        <input type="text" name="listing[description]" value="<%=listing.description%>"><br><br>
        <input type="text" name="listing[image]" value="<%=listing.image.url%>"><br><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>"><br><br>
        <input type="text" name="listing[location]" value="<%=listing.location%>"><br><br>
        <input type="text" name="listing[country]" value="<%=listing.country%>"><br><br>
        <button type="submit">Edit listing</button>
        <button type="reset">Reset</button>
    </form>
</body>
